@charset "ISO-8859-1";


h1 {
	color: dodgerblue;
}

.die {
	border: 2px solid black;
	border-radius: 3px;
	font-size: 200%;
	padding: 0 8px;
}

#color-box {
	width: 200px;
	height: 200px;
	margin: 10px auto;
	border: 1px solid gray;
}